<div class="d-flex flex-column gap-2">
  <div class="banner">
    <div class="container">
      <h1><%= @list.name %></h1>
    </div>
  </div>

  <ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.comment %></li>
    <%= link_to 'Delete bookmark', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure ?' } %>
  <% end %>
</ul>

  <div class="container">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie %>
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    <% end %>
  </div>

  <div class="d-flex justify-content-center align-items-center gap-2 mb-3">
    <%= link_to "Back to every lists", root_path, class: 'btn btn-info'%>
  </div>
</div>
