<h1>This is the show</h1>


<p><strong>Bookmark in this list</strong></p>

<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.comment %></li>
    <%= link_to 'Delete bookmark', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure ?' } %>
  <% end %>
</ul>

<%# Ajouter un btn link_to "add bookmarks", bookmark/new --> nouveau formulaire%>
<div>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
</div>

<%# ajouter f.association dans le formulaire  %>
<%# je reviens a la liste once submit %>

<div>
  <%= link_to "Back to every lists", root_path %> |
  <%# <%= button_to "Destroy this bookmark", @bookmark, method: :delete %>
</div>
